body {
  text-align: center;
  font-family: Montserrat;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  color: gray;
}

.navbar {
  margin-bottom: 0;
}

ul {
  list-style: none;
  font-size: 2rem;
  width: 30%:
}

.navbar li {
  margin-right: 5rem;
}

.cover {
  background-image: url('code1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px yellow solid;
}

.nameplate {
  padding: 5%;
  margin-bottom: 40%;
}

.skills {
  max-height: 100rem;
  color: rgba(252, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills i {
  color: #ffd400;
}

.skills h1 {
  margin-top: 5%;
}

.skills li  {
  margin-top: 10%
  margin-bottom: 5%;
}

.skills ul {
  list-style: none;
  font-size: 2.5rem;
  margin-bottom: 25%;
}

.about {
  max-height: 100rem;
  background: gray;
  display: flex;
}

.about h4 {
  margin-top: 20%;
  padding: 15% 0 15%;
  color: white;
}

.wrapper {
  width: 30%;
}

.wrapper img {
  min-height: 20rem;
  width: 100%;
  margin: 20% 10%;
  border-radius: 25%;
}

.projects {
  background-color: white;
  color: gray;
  min-height: 40rem;
}

.projects h4 {
  margin-top: 15%;
  padding: 15%;
  background: white;
  color: blue;
}

.projects img {
  padding: 10%;
  max-width: 100%;
}

footer {
  height: 30rem;
  background-color: black;
  color: white;
}


footer p {
  margin-top: 5%;
  padding: 5%;
}
