body {
  text-align: center;
  font-family: Open Sans;
  color: white;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

.navbar {
  margin-bottom: 0;
}

ul {
  list-style: none;
  font-size: 2rem;
  width: 30%:
}

.navbar li {
  margin-right: 5rem;
}

section {
  background-color: gray;
}
section img {
    min-height: 40rem;
    max-width: 80%;
}

.skills {
  background: #D7BE82;
  min-height: 40rem;
  color: rgba(252, 252, 252)
}

.skills h1, h3 {
  color: black;
}


.skills ul {
  list-style: none;
  font-size: 2.5rem;
}

.wrapper img {
  max-width: 100%;
  padding: 25% 20%;
  border-radius: 25%;
}

.about h4 {
  margin-top: 15%;
  padding: 15% 0 15%;
  background: white;
  color: blue;
}

.projects {
  background-color: white;
  color: gray;
  min-height: 40rem;
}

.projects h4 {
  margin-top: 15%;
  padding: 15%;
  background: white;
  color: blue;
}

footer {
  height: 20rem;
  background-color: blue;
}


footer p {
  margin: 5%;
  padding: 5%;
}
