body {
  text-align: center;
  font-family: Montserrat;
  box-sizing: border-box;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline;
}

.navbar {
  margin-bottom: 0;
}

header ul {
  list-style: none;
  font-size: 2rem;
  width: 30%:
}

.navbar li {
  margin-right: 5rem;
}

.cover {
  background-image: url('code1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nameplate {
  padding: 5%;
  margin: 10% 0 30% 0;
  color: white;
}

h3 {
  color: #A9A9A9;
  padding-bottom: 2%;
}

.skills {
  max-height: 100rem;
  color: rgba(252, 252, 252);
  display: flex;
  justify-content: center;
}

.skills ul, .skills li {
  font-size: 1.25rem;
}

.skills i {
  color: #ffd400;
}

.skills h1 {
  margin-top: 5%;
}

.skills li  {
  margin-top: 10%
  margin-bottom: 5%;
}

.skills ul {
  list-style: none;
  font-size: 2.5rem;
  margin-bottom: 15%;
  padding: 0;
  padding-bottom: 5%;
}

.about {
  max-height: 100rem;
  background: #A9A9A9;
  display: flex;
  color: white;
  margin: 1%;
}

.about img {
  max-height: 20rem;
}

.wrapper img {
  padding: 5%;
  border-radius: 25%;
}

.projects {
  background-color: white;
  min-height: 40rem;
}

.projects h4 {
  color: blue;
  padding: 3%;
}

.projects img {
  width: 40rem;
  padding: 0 10% 2% 10%;
}

.project-summary h2 {
  color: #A9A9A9;
}

footer {
  height: 12rem;
  background-color: #181818;
  color: white;
}

footer p {
  margin-top: 5%;
  padding: 5%;
}

@media(min-width: 600px) {
  .about h4 {
    font-size: 1.75rem;
  }
  .projects img {
    width: 40rem;
    padding: 0 10% 2% 10%;
  }
}


@media(min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    color: #A9A9A9;
      background-color: rgba(255, 255, 255, 0.0);
      display: inline;
  }

  .about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .wrapper {
    width: 30%;
  }

  .wrapper img {
    max-height: 25rem;
    margin: 20% 5%;
  }

  .skills ul, .skills li {
    font-size: 2rem;
  }

  .about h4 {
    font-size: 2rem;
    margin: 5%;
  }

  .projects img {
    padding: 5%;
    min-height: 18rem;
    width: 90rem;
  }

  .project-summary h2 {
    margin: 15% 0 5% 0;
  }

  .project-summary h4 {
    padding: 3% 25% 0 25%;
  }

  footer {
    height: 30rem;
    background-color: #303030;
    color: white;
  }
}
